header {
	width: screen.width;
	height: 80px;
	background-color: #008D34;
	display: flex;
}

header a {
	display: flex;
    margin-left: 10px; 
    text-decoration: none;
    justify-content: flex-end; 
    padding: 10px; 
 }

.image-header{
	justify-content: flex-start;
	height: 80px;
	width: 1200px;
}

